@model Webdiyer.WebControls.Mvc.PagedList<YcTeam.DTO.Master.ProjectDto>
@using Webdiyer.WebControls.Mvc

<p>
    @Html.ActionLink("创建新项目", "CreateProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WBSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallaProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallWBSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NitialApprovalFunds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoltageGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDepartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickingPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            操作
        </th>
        <th>
            操作
        </th>
        <th>
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WBSCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallaProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallWBSCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NitialApprovalFunds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoltageGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickingPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                <a class="btn btn-success btn-xs" href="@Url.Action("ProjectDetails", new {id = item.Id})">
                    详情
                </a>
            </td>
            <td>
                <a class="glyphicon glyphicon-pencil" href="@Url.Action("ProjectEdit", new {id = item.Id})"></a>
            </td>
            <td>
                <a class="glyphicon glyphicon-remove" href="@Url.Action("ProjectDelete", new {id = item.Id})" onclick="return confirm('are you sure?');"></a>
            </td>
        </tr>
    }

</table>
@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}
@section headers{
    <style>
        table th {
            text-align: center;
        }

        table td {
            text-align: center;
        }

        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0px;
            padding: 3px;
        }
    </style>
}
